.navegador{ 
   
    color: green;
     
    font-size: 100%;   
    
}

nav ul{
    width:100%;
    list-style-type: none;
    padding-left: initial;
    padding-top:initial;
    text-align:center; 
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top:0;
 
    background-color: #689F38;;
   
    
}
nav ul li:hover{
    display:inline-block;
    width: 90%;
    background-color: #9cbead;
    text-decoration-style: none;
    color: #edffc2;
    border: 2px solid green;
    border-radius: 25px;
    padding: 2px 2px 2px 2px;
}
