/* You can add global styles to this file, and also import other style files */


header{
    width: 100%;
    background-repeat:no-repeat;
    background-image: url("assets/img/patern2.jpg");
    background-position: center;
    /*background-size: 250px;*/
    text-align: center;
    font-size: 100%;
    background: #009688;
    color: #212121;
    border-style: groove;
    margin-bottom:20px;
    height: 20%;
}
.contenedor{
    background-repeat:no-repeat;
    /*background-image: url("assets/img/fondo.jpg");*/
    background: #8BC34A; 
    background-size: 100%;
    background-position: center;
    height: 100%;
    display:grid;
    grid-template-rows: 20% 80%;
    grid-gap:0px;   
    color:#009688;
    border-style:double;   
}

.grid-item {
    
    padding: 5px;
    font-size: 30px;
  }
  
  img{
      width:200px;
     
  }


h3{
    color:#212121;
}

.info{
    font-size: 100%;
    text-align: center;
    color: #757575;
    border-style:dashed;
    width: 95%;
   
}
 
.footer{
    /*height: 20%;*/
    color: orange;
    border-style: groove;
    margin-top: 10px;
    display:inline;

}
@media screen and (max-width: 600px) {


.contenedor{
    grid-template-rows: 20% 80%;
}
img{
    width: 50%;
}

header{
    width: 100%;
    background: #009688;
    background-repeat:no-repeat;
    /*background-image: url("assets/img/pattern.jpg");*/
    background-position: center;
}
}

@media screen and (min-width:600px)
{
    .contenedor{
        grid-template-columns: 20% 80%;
    }
    img{
        width:450px;
    }

 
}


@media screen and (min-width:1250px)
{

    .contenedor{
        grid-template-rows: 100%;
        display:block;
    }
    img{
        width:450px;
    }

    .footer{
        height: 100%;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
    }
 
}